<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EL Pastorcito Feliz</title>
    <link type="text/css" rel="stylesheet" href="../assets/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../assets/css/main.css">
  </head>
  <body>

    <header>
      <nav>
        <div class="nav-wrapper nav-mobile">
          <a href="#" class="brand-logo center">Vamos a comer!!</a>
        </div>
      </nav>
    </header>
    <!-- MAPA -->
    <section id="mapa">
      <div class="map"></div>
    </section>
    <!-- BUSCAR -->
    <section id="busqueda" class="container">
      <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" placeholder="Buscar">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>
    </section>
    <!-- LISTA DE RESTAURANTES -->
    <section id="restaurantes" class="container">
      <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/100/food/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="header">RESTAURANTE MUESTRA</h2>
            <p>DIRECCION.</p>
          </div>
        </div>
      </div>

    </section>
    <!-- TERMINA LISTA DE RESTAURANTES -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZK1jfbqwPCm1aEynDAOuFgQ5hE0bNz34">
    </script>
    
    
    
    
    
    <script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/app.js"></script>
  </body>
</html>
